Lab02/plik.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="uczelnia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wydzial" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nazwa" type="xs:string" />
              <xs:element name="kierunek" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nazwa" type="xs:string" />
                    <xs:element name="student" maxOccurs="3" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element  name="imie" type="xs:string" minOccurs="1" maxOccurs="2"/>
                          <xs:element name="nazwisko" type="xs:string" />
                          <xs:element  name="nralbumu" >
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:minExclusive value="100"/>
                                <xs:maxExclusive value="400"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

